*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 200vh;
    font-family: Poppins;
}
nav{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.container{
    width: 1180px;
    margin: 0 auto;
    position: relative;
}
nav .nav_wrapper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
}
nav .left{
    width: 20%;
    height: 90px;
    display: flex;
    align-items: center;
}
nav .left img{
    width: 100%;
    height: 100%;
    transition: 0.6s
}
nav .left img:hover{
    width: 95%;
    transition: 0.6s
}
nav .middle{
    width: 45%;
    height: 90px;
    display: flex;
    align-items: center;

}
nav .middle .bar{
    width: 100%;
    height: 40%;
    background-color: #191919;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
nav .right{
    width: 17%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .middle ul li{
    display: inline-block;
    padding-left: 39px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}
nav .middle ul li:hover{
    letter-spacing: 1px;
    color:#02bee4;
}

.right .signin{
    width: 70%;
    height: 40%;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border: 2px solid #04a4c4;
    color: white;
    border-radius: 50px;
    transition: .7s;
    letter-spacing: 1px;
    padding-top: 3px;
    animation: change 7s infinite;
    background-size: 200% 200%;
}
.right .signin:hover{
    background: linear-gradient(to right,#ffffff, #ffffff);
    cursor: pointer;
    color:#04a4c4;
    letter-spacing: 5px;
    padding-left: 7px;
    font-size: 18px;
    background-size: 200% 200%;
}
@keyframes change{
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
.land1{
    position: relative;
    width: 100%;
    height: 330px;
    top: -160px;
    overflow: hidden;
}
.land1 img{
   width: 100%;
   position: relative;
   bottom: 400px;
   filter: blur(3px);
}
.land1 h1{
    color: #ffffff;
    font-size:64px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    letter-spacing: 10px;
}
.land2{
    width: 100%;
    height: 500px;
    margin-top: -3%;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.land2 .panel1{
    width: 1100px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    position: relative;
    top: 30px;
    overflow: hidden;
}

.land2 .panel1 .tag1{
    width: 180px;
    height: 40px;
    background-color: rgb(3, 206, 247);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    animation: tag1 1.2s infinite alternate;
}
.land2 .panel1 .tag1:hover{
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes tag1{
    from{
        background-color: rgb(3, 206, 247);
        top:35%;
    }
    to{
        background-color: #00a2c2;
        top:22%;
    }
}
.land2 .panel1 .tag1 h5{
    font-size: 22px; 
    position: absolute;
    right: 20px;
    top:  4px;
    transition: 0.8s ease-in-out;
    color: #ffffffea;
}

.land2 .panel1 .tag1 span{
    font-size: 40px;
    position: absolute;
    top: -7px;
    left: 12px;
}
.land2 .panel1 .tag1 .bx{
    color: #ffffffea;
    transition: 1s ease-in-out;
}
.land2 .panel1 .tag1 .bx:hover{
    color: #ffffff;
}
.land2 .panel1 .tag1 h5:hover{
    color: #ffffff;
}

.land2 .panel2{
    width: 1100px;
    height: 400px;
    background-color: rgba(89, 92, 92, 0);

    position: relative;
    top: -40px;
    margin: 0 auto;
}
.land2 .panel2 .tag1{
    color: #ffffff;
    width: 100%;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    position: absolute;
    top: 85px;
}
.land2 .panel2 .tag1 p{
    color:rgb(0, 213, 255);
    width: 10%;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    position: absolute;
    top: -5px;
}
.land2 .panel2 .tag2{
    position: absolute;
    top: -40px;
    right: 0%;
    width: 47%;
    height: 90%;
    overflow: hidden;
    border: 2px solid cyan;
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgb(3, 206, 247);
    animation: shadow_tag2 7s infinite;
}
@keyframes shadow_tag2{
    0%{
        box-shadow: 4px 4px 15px rgb(3, 206, 247);
    }
    25%{
        box-shadow: 4px -4px 15px rgb(3, 206, 247);
    }
    50%{
        box-shadow: -4px -4px 15px rgb(3, 206, 247);
    }
    75%{
        box-shadow: -4px 4px 15px rgb(3, 206, 247);
    }
    100%{
        box-shadow: 4px 4px 15px rgb(3, 206, 247);
    }

}
.land2 .panel2 .tag2 video{
    width: 100%;
    position: absolute;
    top: -30px;
    object-fit: cover;
    top: -250px;
}

.land3{
    margin: 0 auto;
    width: 1100px;
    height: 150px;
    position: relative;
    top: -60px;
}

.land3 .text3{
    font-family: Poppins;
    font-size: 400%;

    color: rgba(3, 206, 247, 0.493);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.land3 .texti{
    position:absolute;
    top: 0%;
    color:rgba(3, 206, 247, 0.493);
    animation: texti 2s alternate infinite;
}
@keyframes texti{
    from{
         top: 0%;
    }to{
         top: 29%;
    }
}
.textie{
    position:absolute;
    top: -29%;
    color:rgba(3, 206, 247, 0.11);
    animation: textie 2s alternate infinite;
}
@keyframes textie{
    from{
         top: 0%;
    }to{
         top: -29%;
    }
}

.rating{
    width: 100%;
    height: 200px;
}
.rating-land{
    width: 1100px;
    margin: 0 auto;
}
.land4{
    width: 100%;
    height: 400px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 50px;
}
/*.my-box {
    width: 200px;
    height: 200px;
    background: #e74c3c;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    /* This shifts bottom-left corner up by 10% 
}*/
.land4 .skew{
    width: 90vw;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.7);
    clip-path: polygon(0 0, 100% 20%, 100% 90%, 6% 100%);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.9));
}

.land4-1{
    width: 1120px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    top:-400px;
}
.land4-1  h1{
    color:rgb(0, 145, 173);
    font-size: 45px;
    font-weight: 700;
    z-index: 100;
    position: absolute;
    top: 163px;
    right: 0%;
    text-align: right;
    line-height: 50px;
}
.land4-1 p{
    color: #000000;
    font-size: 17px;
    z-index: 100;
    position: absolute;
    top: 285px;
    right: 0%;
    text-align: right;
    text-align: justify;
    width: 700px;
}
.land4-1 img {
    width: 410px;
    position: absolute;
    top: 80px;
}
.land4-1 img:hover{
    animation: dumb-spin 1.5s forwards;
}
@keyframes dumb-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.ceo{
    color: #ffffff;
    display: flex;
    justify-content: center;
    position: relative;
    top: -80px;
    font-size: 40px;
    font-weight: 500;
}
.ceo strong{
    color:rgb(0, 213, 255);
}
.land5{
    width: 100%;
    height: 900px;
    top: -50px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.land5 .image img{
    position: absolute;
    width: 1100px;
    opacity: 1;
    animation: nivu 2s infinite alternate;
}
@keyframes nivu{
    from{opacity: 1;}
    to{opacity: 0.1;}
}
.land5 .minor{
    width: 1120px;
    height: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.land5 .ceo1, .ceo2{
    width: 900px;
    height: 420px;
    border: 2px solid cyan;
    border-radius: 30px;
    box-shadow: 4px 4px 15px #03cef7;
    animation: shadow_tag2 7s infinite;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.land5 .ceo2{
    position: absolute;
    right:0;
    bottom:0;
}
.land5 .one, .two{
    height: 100%;
}
.land5 .ceo1 .one, .ceo2 .two{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.land5 .ceo1 .two, .ceo2 .one{
    width: 60%;
}
.land5 .ceo1 .border, .ceo2 .border{
    width: 0.2px;
    height: 80%;
    background-color: rgb(3, 206, 247);
}
.land5 .ceo1 .one img{
    width: 290px;
    position: absolute;
    left: 35px;
    transition: 1s;
}
.land5 .ceo2 .two img{
    width: 290px;
    position: absolute;
    right: 35px;
    transition: 1s;
}
.land5 .ceo2 .two img:hover, .ceo1 .one img:hover{
    width: 280px;
    cursor: pointer;
}

.land5 .ceo1 .two p{
    color: white;
    text-align: justify;
    padding: 110px 40px 10px 40px;
    font-size: 14px;
}
.land5 .ceo1 .two h2{
    color: white;
    font-size: 50px;
    position: absolute;
    padding: 27px 0 0 40px;
}
.land5 .ceo1 .two .icon{
    color: white;
    position: absolute;
    font-size: 24px;
    padding-left: 410px;
    cursor: pointer;
}
.land5 .ceo1 .two .icon .bx{
    transition: 0.7s;
    position: relative;
    top: 55px;
}
.land5 .ceo1 .two .icon .bx:hover{
    color: rgb(3, 206, 247);
    top: 50px;
}

.land5 .ceo2 .one p{
    color: white;
    text-align: justify;
    padding: 110px 40px 10px 40px;
    font-size: 14px;
}
.land5 .ceo2 .one h2{
    color: white;
    font-size: 50px;
    position: absolute;
    padding: 27px 0 0 40px;
}
.land5 .ceo2 .one .icon{
    color: white;
    position: absolute;
    font-size: 24px;
    padding-left: 410px;
    cursor: pointer;
}
.land5 .ceo2 .one .icon .bx{
    transition: 0.7s;
    position: relative;
    top: 55px;
}
.land5 .ceo2 .one .icon .bx:hover{
    color: rgb(3, 206, 247);
    top: 50px;
}

.team{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.team h2{
    position: absolute;
    top:130px;
    font-size: 60px;
    font-weight: 800;
    color: white;
}
.team .box{
    width: 1150px;
    height: 450px;
    display: flex;
    position: relative;
    top: 20px;
    column-gap: 10px;

}
.team .box .p1{
    width: 200px;
    height: 350px;
    background-color: #000000;
    border-radius:100px;
    overflow: hidden;
    border: 2px solid cyan;
    box-shadow: 4px 4px 15px rgb(3, 206, 247);
    animation: shadow_tag2 7s infinite;
    animation: down 8s infinite alternate;
    position: relative;
}
.team .box .p1 img, .p2 img{
    width: 300px;
    position: relative;
    left: -60px;
    top:-30px
}
@keyframes down{
    0%{
        top: 0;
    }
    50%{
        top: 50px;
    }
    100%{
        top: 0;
    }
}
.team .box .p2{
    width: 200px;
    height: 350px;
    background-color: #251b17;
    position: relative;
    top: calc(100% - 350px);
    border-radius:100px;
    overflow: hidden;
    border: 2px solid cyan;
    box-shadow: 4px 4px 15px rgb(3, 206, 247);
    animation: shadow_tag2 7s infinite;
    animation: up 8s infinite alternate;
}
@keyframes up{
    0%{
        top: calc(100% - 350px);
    }
    50%{
        top: 50px;
    }
    100%{
        top: calc(100% - 350px);
    }
}
.team .box:hover .p1,
.team .box:hover .p2 {
    animation-play-state: paused;
}
.team h4{
    position: absolute;
    color: white;
    bottom: 90px;
    font-size: 30px;
    letter-spacing: 20px;
    font-weight: 300;
}


/*footer*/
footer{
    width: 100%;
    color: #ffffff;
    padding: 50px 0 20px;
    background: linear-gradient(60deg, #000000, #123241, #000000);
    background-size: 200% 200%;
    animation: change 7s infinite;
    font-family: poppins;
}
footer .logo{
    width: 80%;
    padding-top: 20%;
    margin-bottom: 4px;
    height: auto;
    cursor: pointer;
    transition: 2s;
    transform-style: preserve-3d;
}
footer .logo:hover{
    transform: rotateY(360deg);
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
footer .col{
    flex-basis: 25%;
    padding: 10px;
}
footer .col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
}
footer .row .col ul li{
    list-style: none;
    margin-bottom: 11px;
}
footer .row .col ul a{
    text-decoration: none;
    color: #ffffff;
}
footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 50px;
}
footer .bx{
    font-size: 18px;
    margin-right: 10px;
}
footer form input{
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
}
footer form button{
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}
footer .social-icons .bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #000000;
    background: #ffffff;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.6s;
}
footer .social-icons .bx:hover{
    color: #ffffff;
    background: #34adc5;
}
footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ffffff;
    margin: 20px auto;
}
footer .copyright{
    text-align: center;
}