*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    font-family: Poppins;
}
html{
    scroll-behavior: smooth;
}
.bg{
    position: absolute;
    width: 100%;
    height: 1500px;
    overflow: hidden;
    z-index: -1;
}
.bg img{
    width: 2300px;
}
.scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    width: 40px;
    height: 40px;
    right: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    font-weight: 890;
    z-index: 999;
    transition: 0.5s;
  }
  
  .scrollToTopBtn:hover {
    background-color: #ffffff;
    color: #000000;
  }

nav{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    z-index: 100;
}
.container{
    width: 1180px;
    margin: 0 auto;
    position: relative;
}
nav .nav_wrapper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
}
nav .left{
    width: 20%;
    height: 90px;
    display: flex;
    align-items: center;
}
nav .left img{
    width: 100%;
    height: 100%;
    transition: 0.6s
}
nav .left img:hover{
    width: 95%;
    transition: 0.6s
}
nav .middle{
    width: 45%;
    height: 90px;
    display: flex;
    align-items: center;

}
nav .middle .bar{
    width: 100%;
    height: 40%;
    background-color: #191919;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
nav .right{
    width: 17%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px;
}
#cart {
  display: flex;
  align-items: center;
  color: white;
  font-size: 23px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  left: -50px;
}

#cart:hover {
  color: #02bee4;
}
nav .middle ul li{
    display: inline-block;
    padding-left: 39px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}
nav .middle ul li:hover{
    letter-spacing: 1px;
    color:#02bee4;
}

.right .signin{
    width: 70%;
    height: 40%;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border: 2px solid #04a4c4;
    color: white;
    border-radius: 50px;
    transition: .7s;
    letter-spacing: 1px;
    padding-top: 3px;
    animation: change 7s infinite;
    background-size: 200% 200%;
}
.right .signin:hover{
    background: linear-gradient(to right,#ffffff, #ffffff);
    cursor: pointer;
    color:#04a4c4;
    letter-spacing: 5px;
    padding-left: 7px;
    font-size: 18px;
    background-size: 200% 200%;
}
@keyframes change{
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
.land1{
    position: absolute;
    width: 100%;
    height: 500px;
    top: -90px;
}
.land1 h1{
    color: #ffffff;
    font-size:64px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    letter-spacing: 10px;
}

/*land 5*/
.land5{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 750px;
    width: 100%;
}
.land5::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.land5 img{
    position: absolute;
    width: 100%;
    filter: blur(2px);
}
.land5 .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: relative;
    top: 110px;
    padding: 20px;
    width: 1100px;
    margin: 0 auto;
    z-index: 2;
    width: 100%;
}

.land5 .card-container .card {
    width: 300px;
    height: 320px;
    background-color:#7979792c;
    border: 1px solid #ffffff;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: #ffffff;
    font-family: poppins;
    display: flex;
    justify-content: center;
    position: relative;
}
.land5 .card-container .card .bx{
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 40px;
    color: #ffffff;
}
.land5 .card-container .card h2{
    position: absolute;
    top: 90px;
    left: 50px;
    font-size: 29px;
    border-bottom: 1px solid #ffffff;
    letter-spacing: 2px;
}
.land5 .card-container .card p{
    position: absolute;
    top: 220px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    margin-top: 20px;
    color: #ffffff;
    left: 50px;
}
.land5 .card ul {
    list-style: none;
    position: absolute;
    top: 150px;
    left: 50px;
  }
  
  .land5 .card li {
    position: relative;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
  }
.nolly{
    text-decoration: none;
    color: inherit;
  }

.land5 .card-container .card button{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.044);
    border: 2px solid #ffffff;
    bottom: -5px;
    transition: 0.4s;
    z-index: 1;
}
.land5 .card-container .card .bx-right-arrow-alt{
    position: relative;
    top: 1px;
    left:1px;
    font-size: 35px;
    transform: rotate(-45deg);
    transition: 0.4s;
}

.land5 .card-container .card button:hover{
    background-color: #ffffff;
    cursor: pointer;
}
.land5 .card-container .card .bx-right-arrow-alt:hover{
   color: #000000;
   transform: rotate(0deg);
}

/* When the container is hovered, expand the specific card being hovered */
.land5 .card-container:hover .card:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#land6{
    width: 100%;
    height: 740px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),rgba(6, 188, 204, 0.2));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_form{
    display: flex;
    align-items: center;
    position: absolute;
    width: 1100px;
    height: 100%;
    top:-30px;
    justify-content: space-between;
}
.message_form .map{
    width:500px;
    height: 300px;
    overflow: hidden;
    background-color: rgb(0,0,0 , 0.2);
    border: 2px solid rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgb(0,0,0 , 0.9);
    opacity: 0.85;
}

.message_form .wrapper{
    width: 520px;
    height: 71%;
    background-color: rgb(0,0,0 , 0.2);
    border: 2px solid rgb(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgb(0,0,0 , 0.9);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box1, .input-box2, .input-box3{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box1 input, .input-box2 input, .input-box3 input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    padding: 22px 46px 20px 20px;
}

.input-box input::placeholder{
    color: #ffffff;
}
.input-box1, .input-box2, .input-box3{
    position: relative;
}
.input-box1 i{
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
}
.input-box2 i{
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
}
.input-box3 i{
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
}
#messageBox {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    color: #ffffff;
    font-family: Poppins;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, 0.3);
    resize: none;
    overflow: hidden;
  }

.wrapper .submit-line{
    display: flex;
}
.wrapper .btn{
    width: 40%;
    height: 42px;
    font-size: 17px;
    font-weight: 500;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border:none;
    color: white;
    transition: .7s;
    border-radius: 8px;
    letter-spacing: 1px;
    padding-top: 3px;
    position: relative;
    right: -260px;
    top:-10px;
    animation: change 7s infinite;
    background-size: 200% 200%;
}

.wrapper .btn:hover{
    background: linear-gradient(to right,#ffffff, #ffffff);
    cursor: pointer;
    color:#04a4c4;
    letter-spacing: 5px;
    padding-left: 7px;
    font-size: 18px;
    font-weight: 600;
    background-size: 200% 200%;
}

.wrapper .faq{
    font-size: 14.5px;
    text-align: center;
    position: relative;
    right: 170px;
}

.faq a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}
.faq a:hover{
    text-decoration: underline;
}




/*footer*/
footer{
    width: 100%;
    color: #ffffff;
    padding: 50px 0 20px;
    background: linear-gradient(60deg, #000000, #0a1c25, #000000);
    background-size: 200% 200%;
    animation: change 7s infinite;
    font-family: poppins;
}
footer .logo{
    width: 80%;
    padding-top: 20%;
    margin-bottom: 4px;
    height: auto;
    cursor: pointer;
    transition: 1s;
}
footer .logo:hover{
    transform: scale(1.05);
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
footer .col{
    flex-basis: 25%;
    padding: 10px;
}
#links{
    position: relative;
    left: 40px;
}
footer .col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
}
footer .row .col ul li{
    list-style: none;
    margin-bottom: 11px;
}
footer .row .col ul a{
    text-decoration: none;
    color: #ffffff;
}
footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 50px;
}
footer .bx{
    font-size: 18px;
    margin-right: 10px;
}
footer form input{
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
}
footer form button{
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}
footer .social-icons .bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #000000;
    background: #ffffff;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.6s;
    position: relative;
    top:-30px;
}
footer .social-icons .bx:hover{
    color: #ffffff;
    background: #34adc5;
}
footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ffffff;
    margin: 20px auto;
}
footer .copyright{
    text-align: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 30px;
    display: none;
    z-index: 1001;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.427);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgb(0,0,0 , 0.9);
  }
  .blur {
    filter: blur(5px);
  }

  footer .thanks{
    width: 300px;
    height: 30px;
    position: relative;
    top:-40px;
  }
  footer .thanks p{
    color:white;
  }