*{
    margin: 0;
    padding: 0;
}
body {
  font-family: Poppins;
  background: #000000;
}

html{
    scroll-behavior: smooth;
}
.bg{
    position: absolute;
    width: 100%;
    height: 1200px;
    overflow: hidden;
    z-index: -1;
}
.bg img{
    width: 2400px;
    opacity: 0.6;
    position: relative;
    right: 200px;
}
.bg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
    z-index: 1;
}
.scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    width: 40px;
    height: 40px;
    right: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    font-weight: 890;
    z-index: 999;
    transition: 0.5s;
  }
  
  .scrollToTopBtn:hover {
    background-color: #ffffff;
    color: #000000;
  }
nav{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    z-index: 100;
}
.container{
    width: 1180px;
    margin: 0 auto;
    position: relative;
}
nav .nav_wrapper{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
}
nav .left{
    width: 20%;
    height: 90px;
    display: flex;
    align-items: center;
}
nav .left img{
    width: 100%;
    height: 100%;
    transition: 0.6s
}
nav .left img:hover{
    width: 95%;
    transition: 0.6s
}
nav .middle{
    width: 45%;
    height: 90px;
    display: flex;
    align-items: center;

}
nav .middle .bar{
    width: 100%;
    height: 40%;
    background-color: #191919;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
nav .right{
    width: 17%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px;
}
#cart {
  display: flex;
  align-items: center;
  color: white;
  font-size: 23px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  left: -50px;
}

#cart:hover {
  color: #02bee4;
}
nav .middle ul li{
    display: inline-block;
    padding-left: 39px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}
nav .middle ul li:hover{
    letter-spacing: 1px;
    color:#02bee4;
}

.right .signin{
    width: 70%;
    height: 40%;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border: 2px solid #04a4c4;
    color: white;
    border-radius: 50px;
    transition: .7s;
    letter-spacing: 1px;
    padding-top: 3px;
    animation: change 7s infinite;
    background-size: 200% 200%;
}
.right .signin:hover{
    background: linear-gradient(to right,#ffffff, #ffffff);
    cursor: pointer;
    color:#04a4c4;
    letter-spacing: 5px;
    padding-left: 7px;
    font-size: 18px;
    background-size: 200% 200%;
}
@keyframes change{
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}


.faq-container {
  max-width: 800px;
  margin: auto;
  background: rgba(0, 0, 0, 0.219);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 4px 4px 15px rgb(33, 33, 33);
  animation: shadow_tag2 7s infinite;
}
@keyframes shadow_tag2{
  0%{
      box-shadow: 4px 4px 15px rgb(69, 69, 69);
  }
  25%{
      box-shadow: 4px -4px 15px rgb(69, 69, 69);
  }
  50%{
      box-shadow: -4px -4px 15px rgb(65, 65, 65);
  }
  75%{
      box-shadow: -4px 4px 15px rgb(90, 90, 90);
  }
  100%{
      box-shadow: 4px 4px 15px rgb(88, 88, 88);
  }
}

.faq-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  padding-top: 20px;
  font-size: 40px;
}

.faq-item {
  border-bottom: 1px solid #ffffff3a;
  margin-bottom: 20px;
}

.faq-question {
  display: block;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 15px;
  background-color: #0000005f;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: white;
}

.faq-question:hover {
  background-color: #e6e6e6;
  color: #000;
}

input[type="checkbox"] {
  display: none;
}

.faq-question{
    display: flex;
    justify-content: space-between;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:  0.3s ease;
  padding: 0 15px;
}

input[type="checkbox"]:checked ~ .faq-answer {
  max-height: 200px;
  padding: 10px 15px;
  transition: 0.5s;
}

.faq-question .arrow-up {
    display: none;
}
  
input[type="checkbox"]:checked ~ .faq-question .arrow-up {
    display: block;
}
  
input[type="checkbox"]:checked ~ .faq-question .arrow-down {
    display: none;
}
input[type="checkbox"]:checked ~ .bg {
    height: 1500px;
}

.faq-answer p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

/*footer*/
footer{
    width: 100%;
    color: #ffffff;
    padding: 50px 0 20px;
    background: linear-gradient(60deg, #000000, #0a1c25, #000000);
    background-size: 200% 200%;
    animation: change 7s infinite;
    font-family: poppins;
}
footer .logo{
    width: 80%;
    padding-top: 20%;
    margin-bottom: 4px;
    height: auto;
    cursor: pointer;
    transition: 1s;
}
footer .logo:hover{
    transform: scale(1.05);
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
footer .col{
    flex-basis: 25%;
    padding: 10px;
}
#links{
    position: relative;
    left: 40px;
}
footer .col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
footer .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
}
footer .row .col ul li{
    list-style: none;
    margin-bottom: 11px;
}
footer .row .col ul a{
    text-decoration: none;
    color: #ffffff;
}
footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 50px;
}
footer .bx{
    font-size: 18px;
    margin-right: 10px;
}
footer form input{
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
}
footer form button{
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}
footer .social-icons .bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #000000;
    background: #ffffff;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.6s;
    position: relative;
    top:-30px;
}
footer .social-icons .bx:hover{
    color: #ffffff;
    background: #34adc5;
}
footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ffffff;
    margin: 20px auto;
}
footer .copyright{
    text-align: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 30px;
    display: none;
    z-index: 1001;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.427);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgb(0,0,0 , 0.9);
  }
  .blur {
    filter: blur(5px);
  }

  footer .thanks{
    width: 300px;
    height: 30px;
    position: relative;
    top:-40px;
  }
  footer .thanks p{
    color:white;
  }

  .nolly{
    text-decoration: none;
    color: inherit;
  }
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
    
    nav .middle ul li {
      padding-left: 15px;
      font-size: 14px;
    }
    
    .product {
      width: 100%;
    }
    
    footer .col {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
    
    #links {
      left: 0;
    }
  }