@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tektur:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 700vh;
}
html{
    scroll-behavior: smooth;
}
.arrival{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
nav{
    background-color: black;
    height: 95px;
    margin-top: 20px;
    position: sticky;
    top: 0px;
    z-index: 9999;
}
.container{
    width: 1190px;
    height: 100px;
    margin: 0 auto;
}
nav .nav_wrapper{
    display: flex;
    justify-content: space-between;
}
nav .left{
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
}
nav .left img{
    width: 92%;
    height: 100%;
    transition: 0.6s
}
nav .left img:hover{
    width: 95%;
    transition: 0.6s
}
nav .middle{
    width: 45%;
    height: 100px;
    display: flex;
    align-items: center;

}
nav .middle .bar{
    width: 100%;
    height: 40%;
    background-color: #191919;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
nav .right{
    width: 17%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .middle ul li{
    display: inline-block;
    padding-left: 39px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}
nav .middle ul li:hover{
    letter-spacing: 1px;
    color:#02bee4;
}
nav .middle ul .home {
    color: #02bee4;
}
.right .signin{
    width: 70%;
    height: 40%;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border: 2px solid #04a4c4;
    border-radius: 50px;
    transition: .7s;
    letter-spacing: 1px;
    padding-top: 3px;
    animation: change 7s infinite;
    background-size: 200% 200%;
}
.right .signin:hover{
    background: linear-gradient(to right,#ffffff, #ffffff);
    cursor: pointer;
    color:#04a4c4;
    letter-spacing: 5px;
    padding-left: 7px;
    font-size: 18px;
    background-size: 200% 200%;
}
@keyframes change{
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
.herotext{
    width: 1140px;
    height: 660px;
    margin: 0 auto;
    /*background-color: #000000;*/
    position: relative;
    right: 10px
}
.herotext h1{
    width: 650px;
    font-family: Poppins;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 150px;
    line-height: 68px;
}
.herotext .slogan{
    position: absolute;
    top: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    font-style: normal;
    font-size: 18px;
    width: 400px;
    color: white;
    line-height: 25px;
}
.herotext button{
    background-color: #191919;
    color: white;
    position: relative;
    top: 370px;
    width: 200px;
    height: 52px;
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border: 2px solid #02bee4;
    border-radius: 5px;
    letter-spacing: 5px;
    transition: 1s ease-in-out, color 0.5s ease-in-out;
    padding-top: 2px ;
    animation: change 7s infinite;
    background-size: 200% 200%;
    cursor: pointer;
    z-index: 1;
}
.herotext button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(60deg, #fdffff, #ffffff, #ffffff);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: -1;
}

.herotext button:hover::before {
    opacity: 1;
}
.herotext button:hover {
    color: rgb(13, 160, 160); 
}

.herotext .contact-us button {
    background-color: #191919;
    color: white;
    position: absolute;
    top: 318px;
    left: 230px;
    width: 220px;
    height: 52px;
    font-size: 21px;
    font-weight: 500;
    background: transparent;
    border: 2px solid #02bee4;
    color: white;
    letter-spacing: 5px;
    transition: 0.7s;
    padding-top: 2px;
    animation: change 7s infinite;
    background-size: 200% 200%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.herotext .contact-us button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    animation: change 7s infinite;
    background-size: 200% 200%;
    z-index: -1;
}

.herotext .contact-us button:hover::before {
    opacity: 1;
}

.backgroundlogo{
    width: 100%;
    height: 780px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: -5px;
}
.backgroundlogo .one{
    width: 1600px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.backgroundlogo img{
    width: 53%;
    position: absolute;
    left: 47%;
    top: 20%;
    animation: dim 1.5s ease infinite alternate;
}
@keyframes dim {
    from{
        opacity: 100%;
    }
    to{
        opacity: 40%;
    }
}
.herotext .heroimg img{
    width: 50%;
    /* background-color: #02bee4; */
    position: relative;
    left: 646px;
    bottom: 299px;
    animation: scaleIn 0.8s ease-out;
    transition: 1s;
}
.herotext .heroimg img:hover{
    transform: rotateY(deg360);
}
.land2{
    width: 100%;
    height: 650px;
    background-color: white;
}
.land2 .container{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
}
.land2 .container .holder{
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    position: absolute;
    top: 150px;
}
.container .holder .holder_in{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
}
.container .holder .holder_in .image
{
    height: 100%;
    width: 41%;
    position: relative;
    animation: scaleIn 0.8s ease-out;
}
.container .holder .holder_in .image img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position:  center;
}
.container .holder .holder_in .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Black overlay */
    pointer-events: none; /* So it doesn't block clicks */
}
.holder_in .text {
    position: relative;
    height: 100%;
    width: 59%;
}
.holder_in .text h2{
    width: 600px;
    font-family: Poppins;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    position: absolute;
    top: 70px;
    left: 70px;
    letter-spacing: 3px;
}
.holder_in .text p{
    width: 530px;
    position: absolute;
    bottom: 150px;
    left: 70px;
    font-family: Poppins;
    font-size: 15px;
}
.holder_in button{
    background-color: #191919;
    color: white;
    position: absolute;
    bottom: 86px;
    left: 70px;
    width: 142px;
    height: 42px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border: 1px solid #0098b6;
    color: white;
    letter-spacing: 2px;
    transition: .7s;
    animation: change 7s infinite;
    background-size: 200% 200%;
    cursor: pointer;
}
.holder_in button:hover{
    letter-spacing: 8px;
    animation-play-state: paused;
    padding-left: 8px;
}

.land3{
    width: 100%;
    height: 550px;
    background-color: rgb(244, 244, 244);
}
.land3 .container{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}
.land3 .container .holder1{
    width: 100%;
    height: 38%;
    position: relative;
}
.holder1 .text1 h2{
    width: 100%;
    font-family: Poppins;
    font-size: 45px;
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: 700;
    position: absolute;
    letter-spacing: 3px;
    justify-content: center;
    align-items: centers;
    top: 40px;
}
.holder1 .text2 {
    position: relative;
}
.holder1 .text2 p{
    width: 77%;
    position: absolute;
    font-family: Poppins;
    font-size: 15px;
    left: 50%;
    transform: translateX(-51%);
    top: 90px;
    text-align: center;
    top: 110px;
}
.land3 .container .card_container{
    width: 100%;
    height: 62%;
    position: relative;
    display: flex;
    column-gap: 8px;
    perspective: 1000px;
    flex-wrap: nowrap;
    animation: scaleIn 0.8s ease-out;
}
@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.card1, .card2, .card3, .card4
{
    width: 25%;
    height: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: 2s;
}

.front{
    transform: rotateY(0deg);
}
.back{
    background-color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipped{
    transform: rotateY(180deg);
}
.back button{
    background-color: #191919;
    color: white;
    width: 160px;
    height: 40px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    background-size: 200% 200%;
    animation: change 7s infinite;
    border: 1px solid #0098b6;
    letter-spacing: 2px;
    transition: .7s;
    cursor: pointer;
    position: absolute;
    padding-top: 2px;
}
.back button:hover{
    letter-spacing: 5px;
    animation-play-state: paused;
    padding-left: 7px;
}
.back_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px;
    left: -95px;
}
.back_img img{
    width: 420px;
    height: auto;
    opacity: .125;
    filter: blur(2px);
}

.card1 .front img{
    position: absolute;
    width: 300px;
    top: -70px;
    left: -20px;
}
.card2 .front img{
    position: absolute;
    width: 380px;
    top: -10px;
    left: -50px;
}
.card3 .front img{
    position: absolute;
    width: 380px;
    top: -20px;
    left: -50px;
}
.card4 .front img{
    position: absolute;
    width: 500px;
    top: -70px;
    left: -170px;
}

.front .mini-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}
.front .mini-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(60deg, #308895, #47d4f1, #308895);
    background-size: 200% 200%;
    opacity: 0.8;
    animation: change 7s infinite;
    top: 400px; /* Initial position */
    transition: 0.8s;
}
.front .mini-container:hover::after {
    top: 210px;
}

.image-container1 {
    position: absolute;
    right: 18px;
    top:61px;
}
.image-container2 {
    position: absolute;
    right: -13px;

}
.image-container3 {
    position: absolute;
    right: -14px;
    top:10px;
}
.image-container4 {
    position: absolute;
    right: -133px;
    top:61px;
}
.image-container1 img, .image-container2 img,.image-container3 img,.image-container4 img {
    width: 35px !important;
    height: auto;
    opacity: 0.6;
}


.front .mini-container .mona {
    position: absolute;
    width: 100%;
    top: 400px; /* Match ::after's initial position */
    text-align: center;
    transition: 0.8s; /* Same timing as ::after */
    z-index: 10;
}

/* Move text along with the hover effect */
.front .mini-container:hover .mona {
    top: 240px; /* Match ::after's hover position */
}

/* Style for the h1 inside mona */
.front .mini-container .mona h1 {
    font-size: 24px;
    font-family: Poppins;
    letter-spacing: 5px;
    color: rgb(255, 255, 255) !important;
    font-weight: 500;
}
.front .mini-container .mona h3 {
    font-size: 15px;
    font-family: Poppins;
    color: rgb(255, 255, 255) !important;
    font-weight: 200;
    line-height: 18px;
}
.null{
    background-color: rgb(244, 244, 244);
    width: 100%;
    height: 75px;
}
.land4{
    width: 100%;
    height: 400px;
    background: linear-gradient(60deg, #000000, #123241, #000000);
    background-size: 200% 200%;
    animation: change 7s infinite;
}
.land4 .text1, .text2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.land4 .text1 h1{
    position: absolute;
    font-family: Tektur;
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    top: 95px;
    color: #ffffff;
}
.land4 .text2 p{
    position: absolute;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    top: 185px;
    color: #ffffff;
}
.land4 .button-container{
    display: flex;
    justify-content: center;
    position: relative;
}
.land4 .button-container button{
    position: absolute;
    top: 259px;
    width: 200px;
    height: 50px;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: linear-gradient(60deg, #ffffff, #f2fdff, #ffffff);
    border: 2px solid #04a4c4;
    transition: .7s;
    letter-spacing: 1px;
    padding-top: 3px;
    animation: change 7s infinite;
    background-size: 200% 200%;
    border-radius: 5px;
}
.land4 .button-container button:hover{
    background: linear-gradient(to right,#ffffff, #ffffff);
    cursor: pointer;
    color:#000000;
    font-size: 21px;
    background-size: 200% 200%;
    /* Move the button slightly up */
    transform: translateY(-8px);
    transition: transform 0.5s ease-in-out;
}
.land5{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
}