*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 500vh;
}
nav{
    background-color: black;
    height: 95px;
    margin-top: 2+0px;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.container{
    width: 1190px;
    height: 100px;
    margin: 0 auto;
}
nav .nav_wrapper{
    display: flex;
    justify-content: space-between;
 
}
nav .left{
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
}
nav .left img{
    width: 92%;
    height: 100%;
    transition: 0.6s
}
nav .left img:hover{
    width: 95%;
    transition: 0.6s
}
nav .middle{
    width: 45%;
    height: 100px;
    display: flex;
    align-items: center;

}
nav .middle .bar{
    width: 100%;
    height: 40%;
    background-color: #191919;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
nav .right{
    width: 17%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .middle ul li{
    display: inline-block;
    padding-left: 39px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: 0.7s;
}
nav .middle ul li:hover{
    letter-spacing: 1px;
    color:#02bee4;
}
nav .middle ul .home {
    color: #02bee4;
}
.right .signin{
    width: 70%;
    height: 40%;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border: 2px solid #04a4c4;
    border-radius: 50px;
    transition: .7s;
    letter-spacing: 1px;
    padding-top: 3px;
    animation: change 7s infinite;
    background-size: 200% 200%;
}
.right .signin a{
    text-decoration: none;
    color: white;
}
.right .signin:hover{
    background: linear-gradient(to right,#ffffff, #ffffff);
    cursor: pointer;
    color:#04a4c4;
    letter-spacing: 5px;
    padding-left: 7px;
    font-size: 18px;
    background-size: 200% 200%;
}
@keyframes change{
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
.herotext{
    width: 1140px;
    height: 660px;
    margin: 0 auto;
    /*background-color: #000000;*/
    position: relative;
    right: 10px
}
.herotext h1{
    width: 650px;
    font-family: Poppins;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 150px;
    line-height: 68px;
}
.herotext .slogan{
    position: absolute;
    top: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    font-style: normal;
    font-size: 18px;
    width: 400px;
    color: white;
    line-height: 25px;
}
.herotext button{
    background-color: #191919;
    color: white;
    position: relative;
    top: 370px;
    width: 200px;
    height: 52px;
    font-size: 21px;
    font-weight: 500;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border: 2px solid #02bee4;
    color: white;
    letter-spacing: 5px;
    transition: .7s;
    padding-top: 2px ;
    animation: change 7s infinite;
    background-size: 200% 200%;
    cursor: pointer;
}
.herotext button:hover{
    letter-spacing: 0;
    animation-play-state: paused;
}
.backgroundlogo{
    width: 100%;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: -5px;
}
.backgroundlogo .one{
    width: 1600px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.backgroundlogo img{
    width: 53%;
    position: absolute;
    left: 47%;
    top: 20%;
    animation: dim 1.5s ease infinite alternate;
}
@keyframes dim {
    from{
        opacity: 100%;
    }
    to{
        opacity: 40%;
    }
}
.herotext .heroimg img{
    width: 49%;
    /* background-color: #02bee4; */
    position: relative;
    left: 659px;
    bottom: 230px;
    animation: scaleIn 0.8s ease-out;
}
.land2{
    width: 100%;
    height: 650px;
    background-color: white;
}
.land2 .container{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
}
.land2 .container .holder{
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    position: absolute;
    top: 150px;
}
.container .holder .holder_in{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
}
.container .holder .holder_in .image
{
    height: 100%;
    width: 41%;
    position: relative;
    animation: scaleIn 0.8s ease-out;
}
.container .holder .holder_in .image img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position:  center;
}
.container .holder .holder_in .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Black overlay */
    pointer-events: none; /* So it doesn't block clicks */
}
.holder_in .text {
    position: relative;
    height: 100%;
    width: 59%;
}
.holder_in .text h2{
    width: 600px;
    font-family: Poppins;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    position: absolute;
    top: 70px;
    left: 70px;
    letter-spacing: 3px;
}
.holder_in .text p{
    width: 530px;
    position: absolute;
    bottom: 150px;
    left: 70px;
    font-family: Poppins;
    font-size: 15px;
}
.holder_in button{
    background-color: #191919;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 70px;
    width: 130px;
    height: 35px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(60deg, #1D4F57, #34adc5, #1D4F57);
    border: 1px solid #0098b6;
    color: white;
    letter-spacing: 2px;
    transition: .7s;
    animation: change 7s infinite;
    background-size: 200% 200%;
    cursor: pointer;
}
.holder_in button:hover{
    letter-spacing: 8px;
    animation-play-state: paused;
    padding-left: 8px;
}

.land3{
    width: 100%;
    height: 550px;
    background-color: rgb(244, 244, 244);
}
.land3 .container{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}
.land3 .container .holder1{
    width: 100%;
    height: 38%;
    position: relative;
}
.holder1 .text1 h2{
    width: 100%;
    font-family: Poppins;
    font-size: 45px;
    display: flex;
    color: rgb(0, 0, 0);
    font-weight: 700;
    position: absolute;
    letter-spacing: 3px;
    justify-content: center;
    align-items: centers;
    top: 40px;
}
.holder1 .text2 {
    position: relative;
}
.holder1 .text2 p{
    width: 77%;
    position: absolute;
    font-family: Poppins;
    font-size: 15px;
    left: 50%;
    transform: translateX(-51%);
    top: 90px;
    text-align: center;
    top: 110px;
}
.land3 .container .card_container{
    width: 100%;
    height: 62%;
    position: relative;
    display: flex;
    column-gap: 8px;
    perspective: 1000px;
    flex-wrap: nowrap;
    animation: scaleIn 0.8s ease-out;
}
@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.card1, .card2, .card3, .card4
{
    width: 25%;
    height: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    cursor: pointer;
}
.front{
    transform: rotateY(0deg);
}
.back{
    background-color: aqua;
    transform: rotateY(180deg);
}

.flipped{
    transform: rotateY(180deg);
}

.card1 .front img{
    position: absolute;
    width: 300px;
    top: -70px;
    left: -20px;
}
.card2 .front img{
    position: absolute;
    width: 380px;
    top: -10px;
    left: -50px;
}
.card3 .front img{
    position: absolute;
    width: 380px;
    top: -20px;
    left: -50px;
}
.card4 .front img{
    position: absolute;
    width: 500px;
    top: -70px;
    left: -170px;
}

.front .mini-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}
.front .mini-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    background-color: rgb(255, 255, 255, 0.8);
    top: 400px; /* Initial position */
    transition: 0.8s;
}
.front .mini-container:hover::after {
    top: 220px;
}


